@font-face {
  font-family: alagard;
  src: url(./assets/alagard.ttf);
}

body{
  background-color: #E9D2B8;
  font-family: alagard;
}

.header{
  background: url("./assets/menu.png");
  min-height: 130px;
}
.footer{
  background: url("./assets/footer.png");
  min-height: 130px;
}

.nav-link{
  font-size: 23px;
  padding-right: 55px !important;
}

.pilgrim_detail{

  background: url("./assets/book.png");
  background-size: 100% 100%;
  /*padding: 30px;*/
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 70px;
  /*height: 606px*/
}

.with_frame{
  background-size: 100% 100% !important;
}

.with_frame2{
  background: url("./assets/frame-mini.png");
  background-size: 100% 100% !important;
  line-height: 15px;
}

.btn-conn{
  background: url("./assets/btn-conn.png");
  background-size: 100% 100% !important;
  padding: 15px;
}

.btn-conn a{
  text-decoration: none;
  color: #543927;
  font-weight: bold;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #543927 #fddbcb;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #fddbcb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #543927;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }